body {
    margin: 0;
    padding: 0;
}

body p {
    text-align: justify !important;
}

body ul li {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

body .sc-hwwEjo {
    display: none !important;
}

body div.api-info {
    padding-bottom: 0 !important;
}